/* You can add global styles to this file, and also import other style files */

$color1 : #EEEEEE;
$color2 : #00ADB5;
$color3 : #393E46;
$color4 : #222831;

html,body{
    padding: 0px;
    margin: 0px;
    position: relative;
}
